@model IEnumerable<MVC5Course.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "Clients", FormMethod.Get, new {}))
{
    @*<input type="search" name="keyword" placeholer="請輸入關鍵字"/>*@
    @Html.TextBox("keyword", null, new { placeholer = "請輸入關鍵字" })
    <input type="submit" value="搜尋"/>
}

@using (Html.BeginForm("BatchUpdate", "Clients"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditRating)
            </th>
            <th></th>
        </tr>
        
        @{
            var item = Model.ToList();
        }

        @for (int i = 0; i < item.Count; i++) {
            <tr>
                @Html.HiddenFor(modelItem => item[i].ClientId)
                <td>
                    @Html.TextBoxFor(modelItem => item[i].FirstName)
                    @Html.ValidationMessageFor(modelItem => item[i].FirstName, null, new { @class = "text-danger"})
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item[i].MiddleName)
                    @Html.ValidationMessageFor(modelItem => item[i].MiddleName, null, new { @class = "text-danger" })
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item[i].LastName)
                    @Html.ValidationMessageFor(modelItem => item[i].LastName, null, new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item[i].Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item[i].DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item[i].CreditRating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item[i].ClientId }) |
                    @Html.ActionLink("Details", "Details", new { id=item[i].ClientId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item[i].ClientId })
                </td>
            </tr>
        }

    </table>
    <input type="submit"/>
}